<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: purple;}
h1   {color: red;}
p    {color: blue;}
</style>
</head>
<body>

<h1>This is a red heading</h1>
<p>This is a blue paragraph.</p>

</body>
</html>
